<div class="absolute w-full z-10 flex items-center justify-center flex-wrap">
    <p class="inline-block p-2 bg-slate-800/20 mt-0 text-sm text-center drop-shadow-lg font-semibold text-white lg:text-5xl md:text-3xl sm:text-xl  sm:p-4 w-full">Que se puede hacer con nuestro gestor?</p>
    <button class="inline-block m-1 bg-slate-800/90 font-semibold text-sm px-1 py-2 opacity-90 leading-none border rounded text-white border-slate-800/90 hover:border-transparent hover:text-white hover:bg-slate-800/80 xl:mt-72 lg:mt-50 md:mt-20 md:px-5 sm:px-1 sm:mt-52 md:text-lg">Crear proyectos</button>
    <button class="inline-block m-1 bg-slate-800/90 font-semibold text-sm px-1 py-2 opacity-90 leading-none border rounded text-white border-slate-800/90 hover:border-transparent hover:text-white hover:bg-slate-800/80 xl:mt-72 lg:mt-50 md:mt-20 md:px-5 sm:px-1 sm:mt-52 md:text-lg">Ver proyectos</button>
    <button class="inline-block m-1 bg-slate-800/90 font-semibold text-sm px-1 py-2 opacity-90 leading-none border rounded text-white border-slate-800/90 hover:border-transparent hover:text-white hover:bg-slate-800/80 xl:mt-72 lg:mt-50 md:mt-20 md:px-5 sm:px-1 sm:mt-52 md:text-lg">Ver calendario</button>
</div>
<div class="relative">
    <img class="w-full max-h-[750px]" src="https://www.hrcloud.com/hubfs/workplace.gif" alt="Inicio">
</div>
<!-- <video muted autoplay loop>
    <source src="" type="video">
</video> -->